.container {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  display: inline-block;
  box-sizing: border-box;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: beige;
}
